<main>
    <section class="login-section">
        <img src="logo.svg" alt="Logo Move It">
        <h2>{{ title }}</h2>
          <ng-content></ng-content>
        <div class="btn-wrapper">
             <button class="btn-primary" (click)="submitForm()">{{ primaryButtonText}}</button>
                <div class="divider">
                    <div></div>
                    <span>or</span>
                    <div></div>
                </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryButtonText }}</button>
        </div>
    </section>
    <section class="main-section">
        <h1>You Should move it!!</h1>
        <img src="Delivery.svg" alt="Homem com skate">
    </section>
</main>
