@use "../../../styles/color-variables.scss" as cv;


.input-wrapper {


    color: cv.$text-color;
    font-size: 16px;
    text-align: start;
    
    
    .input-content {

         input {
            border: none;
            border-radius: 8px;
            background-color: cv.$gray-background;

            padding: 12px 0 12px 20px;
            width: 100%;
        }

    }  
}