@use "../../../styles/color-variables.scss" as cv;


.input-wrapper {

    color: cv.$text-color;
    font-size: 16px;
    text-align: start;
    
    
    .input-content {
         border-radius: 8px;
         width: 100%;
         display: flex;
         

         .icon {
            padding: 12px;
            border-radius: 0 8px 8px 0;
            background-color: cv.$primary-color;
            
            img {
                height: 20px;
            }
         }

         input {
            border-radius: 8px 0 0 8px;
            border: none;
            background-color: cv.$gray-background;
            padding: 12px 0 12px 20px;
            width: 100%;
        }

    }  
}