@use "../../../styles/color-variables.scss" as cv;

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;

    span {
        font-size: 14px;
        text-decoration: underline;
        color: cv.$secondary-color;
        text-align: end;
    }
}